body{
    background-color: #007878;
}

#container{
    margin: 50px auto;
    padding: 30px;
    width: 600px;
    background-color: #F6F7BD;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    box-shadow: 10px 10px #80BCA3;
}

#color{
    background-color: rgb(120,120,120);
    margin: 10px 0 30px 0;
    padding: 30px 0 30px 0;
    height: 150px;
}

.slider {
    display: inline-block;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    color: #2B7878;
    background-color: #80BCA3;
}

#slider-r{
    box-shadow: 5px 5px rgb(120, 0, 0);
}

#slider-g{
    box-shadow: 5px 5px rgb(0, 120, 0);
}

#slider-b{
    box-shadow: 5px 5px rgb(0, 0, 120);
}